@font-face{
    /*Disposable droid font*/
    font-family: pixelfont;
    src: url(fonts/db.ttf);   
}
@font-face{
    /*Disposable droid bold font*/
    font-family: pixelfont2;
    src: url(fonts/dbB.ttf);   
}
@font-face{
    /*Karmatic arcade font*/
    font-family: arcade;
    src: url(fonts/ka1.ttf);
}
html{
    font-family: pixelfont;
}
body{
    margin: 0;
    background-color: #f1f1f1;
}
.main-sections{
    margin: 40px auto;
    width:60%;
}
.maintitle{
    display:inline-block;
    background-color: #ffbe44;
    letter-spacing: 2px;
    font-family: pixelfont2;
    font-size:44px;
    padding: 10px 50px;
    box-shadow: 6px 6px #333;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~T o p S T U F F */
.head-cont{
    display: block;
    position: relative; 
    width:auto;
    color: black;
    padding: 14px;
    
}
.backdrop-img{
    position: absolute;
    background-image:url('img/backdrop2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color:#333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(1.2px) brightness(100%);
    z-index: -1;
}
.tgrid-name{
    grid-area:name;
    font-size:20px;
    font-family:pixelfont2;
}
.tgrid-name div{
    display: block;
    font-size:24px;
    font-family:arcade;
    transform:translateY(10px);
}
.tgrid-pfp{grid-area:pfp;}
.tgrid-pfp img{
    width:100px;
    height:100px;
    background-color:rgb(255, 247, 244);
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:4px;
    box-shadow: 6px 6px #333;
}
.top-grid{
    display:grid;
    margin: 70px auto;
    max-width: 500px;
    width: auto;
    grid-template-areas:
        'name pfp';
    grid-gap: 0;
    background-color: #ffb638;;
    padding: 10px;
    text-align:center;
    box-shadow: 6px 6px #333;
}
.top-grid div{
    margin: auto 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~NAV BAR S T U F F */
#navbar{
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 6px #ffbe44;
}

#navbar a{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.navL{float: left;}
.navR{
    float:right;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color:#333;
    border-radius:2px;
    margin-right: 15px;
    transform:translateY(10px);
}
.navR:hover{
    filter:brightness(125%);
}
#itchioICON{background-image:url('https://static.itch.io/images/itchio-textless-white.svg');}
#githubICON{background-image:url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');}
#linkedinICON{background-image:url('img/linkedin.png');}
.navL:hover{
    background-color: #ddd;
    color: black;
}

#navbar a.active{
    background-color: #ffbe44;
    color: #333;
    font-size: 28px;
    font-family: pixelfont2;
}

.sticky{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}
.sticky + .stickyoffset{
    padding-top: 60px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~My Games */
.mygames{
    margin: 40px auto;
    width:80%;
}
.mygame-block{
    display:grid;
    grid-template-areas:
        'title title title link'
        'image image desc desc';
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #ffffff;
    box-shadow: 6px 6px #ffb638;
    margin: 20px 0;
    height:auto;
    max-height:600px;
}
.mygame-block div{
    padding: 0 30px;
}
.mygame-title{
    grid-area:title;
    background-color:#ffbe44;
    box-shadow: 6px 6px #333;
    display:flex;
    justify-content: left;
    align-items: center;
}
.mygame-title span{font-size:34px;font-family: pixelfont2;letter-spacing: 3px;}
.mygame-title p{font-size:18px;}
.mygame-link{
    grid-area:link;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#333;
    color: white;
    font-size: 30px;
    box-shadow: 6px 6px #ffbe44;
}
/*Id for the small arrow on my-game link button*/
#link-icon{
    transform:translate(0, 1px);
}
.mygame-link:hover{
    background-color:#ffbe44;
    transition: 0.3s ease;
    transform: translate(6px, 6px);
    box-shadow: -6px -6px #333;
    color:black;
    cursor: pointer;
}
.mygame-image{
    grid-area:image;
    background-image:url('img/backdrop.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.mygame-description{
    grid-area:desc;
    align-items: center;
    margin-bottom:20px;
    color:rgb(43, 43, 43);
}
.mygame-description span{
    margin: 0;
    padding:0;
    font-size:26px;
    font-family: pixelfont2;
    color:black;
}
.mygame-description p{font-size:20px;}
.mygame-description ul{
    font-size:20px;
    margin:0;
    list-style-type: square;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~About Me */
.aboutme-content{
    margin: 20px 0;
    background-color: white;
    height: auto;
    box-shadow: 6px 6px #ffb638;
    display:grid;
    grid-template-areas:
        'desc img';
    grid-template-columns: 55% 45%;
    background-color: #ffffff;
}
.agrid-content{
    grid-area: desc;
    padding: 40px 40px 40px 60px;
    font-size: 22px;
    color:rgb(43, 43, 43);
}
.agrid-content ul{
    list-style-type: square;
    color:rgb(80, 80, 80);
}
.agrid-content div{
    font-size: 30px;
    font-family: pixelfont2;
    color:black;
    background-color:#ffbe44;
    padding:4px;
    margin-bottom:8px;
    transform:translateX(-26px);
    display:inline-block;
    box-shadow: 3px 3px #333;
}
.agrid-image{
    grid-area: img;
    background-image:url('img/backdrop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333;
    height:100%;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~SKillset */
.skill-grid{
    display:grid;
    grid-template-areas:
        'tools tools lang lang field field'
        'listn1 listp1 listn2 listp2 listn3 listp3';
    grid-template-columns: 25% 9% 25% 8% 25% 8%;
    font-size:20px;
    background-color: #333;
    box-shadow: 6px 6px #ffbe44;
    margin: 20px 0;
}
.skill-grid div{
    text-align: center;   
}
.lncommon{
    background-color: #333;
    color: white;
    padding: 10px 0;
}
.skill-grid li{
    padding: 4px;
    margin: 2px auto;
}
.skill-grid ul{
    list-style-type: none;
    margin: 0;
    padding: 2px;
    text-align:right;
}
.sgrid-tools{grid-area: tools;}
.sgrid-lang{grid-area: lang;}
.sgrid-field{grid-area: field;}
.sgrid-listnames1{grid-area:listn1;}
.sgrid-listprof1{grid-area:listp1;}
.sgrid-listnames2{grid-area:listn2;}
.sgrid-listprof2{grid-area:listp2;}
.sgrid-listnames3{grid-area:listn3;}
.sgrid-listprof3{grid-area:listp3;}
/*Common class of sgrid tools, lang and field*/
.sgrid-c{
    font-size: 30px;
    background-color:#ffbe44;
    box-shadow: 6px 6px #333;
    padding:4px;
}
/*Proficiency colors*/
.p1,.p2,.p3{
    width:2px;
    box-shadow: 3px 0px #ffbe44;
}
.p1{background-color: rgb(163, 255, 43);color:rgb(163, 255, 43);}
.p2{background-color:rgb(255, 92, 28);color:rgb(255, 92, 28);}
.p3{background-color: rgb(75, 198, 255);color:rgb(75, 198, 255);}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Other projects */
