@font-face{
    /*Disposable droid font*/
    font-family: pixelfont;
    src: url(fonts/db.ttf);   
}
@font-face{
    /*Disposable droid bold font*/
    font-family: pixelfont2;
    src: url(fonts/dbB.ttf);   
}
@font-face{
    /*Karmatic arcade font*/
    font-family: arcade;
    src: url(fonts/ka1.ttf);
}
html{
    font-family: pixelfont;
}
body{
    margin: 0;
    background-color: #333;
}
.head-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    width:auto;
    color: black;
    padding: 14px;
    height:24%;
    box-shadow: 0px 6px #ffb638;
}
.backdrop-img{
    position: absolute;
    background-image:url('img/backdrop2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    background-color:#333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: brightness(120%);
    z-index: -1;
}
.top-title{
    display:inline-block;
    margin: 70px auto;
    width: auto;
    font-size: 36px;
    font-family: pixelfont2;
    padding: 10px 24px;
    color: black;
    text-align: center;
    background-color: #ffb638;
    box-shadow: 6px 6px #333;
}
.return-btn, .link-game{
    position:absolute;
    background-color:#ffb638;
    padding: 12px;
    font-family: pixelfont2;
    font-size: 28px;
    box-shadow: 0 6px #333;
}
.return-btn:hover, .link-game:hover{
    background-color: #333;
    color:#ffb638;
    transition: 0.4s ease;
    transform: translate(0, 6px);
    box-shadow: 0 -6px #ffb638;
    cursor: pointer;
}
.return-btn{
    left:0;
}
.link-game{
    right:0;
}
.content-cont{
    margin: 30px 10%;
}
.content-block{
    
    display: flex;
    align-items:center;
    margin: 24px 0;
    
}
.content-image{
    width:30%;
    margin: 5% 2%;
    box-shadow: 6px 6px #ffb638;
}
.block-description{
    max-width: 60%;
    display:inline-block;
    top:0;
    margin: 5% 2%;
    padding: 6px 20px;
    background-color:white;
    box-shadow: 6px 6px #ffb638;
}
.block-description h3{
    font-size: 26px;
    font-family: pixelfont2;
    background-color: #ffb638;
    box-shadow: 3px 3px #333;
    padding: 8px;
    letter-spacing: 2px;
    display:inline-block;
}
.block-description p {
    font-size: 22px;
    margin:0;
}
.block-description ul, .block-description ol{
    font-size: 20px;
}
/** Secondary titles within the description**/
.sub-title{
    font-family:pixelfont2;
    font-size:22px;
    letter-spacing: 2px;
    margin: 0;
}
footer{
    background-color: #333;
    height: 100px;
    font-size: 18px;
    letter-spacing: 2px;
    position:relative;
    border-top: solid 6px #ffbe44;
    align-items: center;
    justify-content: center;
    display:flex;
}
#footer-left a{
    text-decoration: none;
    color: #ffbe44;
}