@font-face{
  /*Disposable droid font*/
  font-family: pixelfont;
  src: url(../fonts/db.ttf);   
}
html{
    font-family: 'Pixelify Sans', sans-serif;
    /*font-family: 'Source Code Pro', monospace;*/
}
body{
    background-image: url('../img/P2/aiArt2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow:hidden;
}

/* ------------------Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient( #ff4e65, #ffbf00); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc582; 
    box-shadow: inset 1px 0px 6px rgba(68, 68, 68, 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 10px #333333;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e4a629; 
  }
  ::-moz-selection { /* Code for Firefox */
    color: rgb(237, 237, 237);
    background: #ffbf3e;
  }
  
  ::selection {
    color: rgb(237, 237, 237);
    background: #ffbf3e;
  }
  /*Prevent image highlight*/
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* div{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} */
