@font-face{
  /*Disposable droid font*/
  font-family: pixelfont;
  src: url(../fonts/db.ttf);   
}
html{
    font-family: 'Pixelify Sans', sans-serif;
    /*font-family: 'Source Code Pro', monospace;*/
    background-image: url('../img/raymoo.png');
    background-size: 30%;
    background-repeat: repeat;
}
body{
    background-image: url('../img/P2/aiArt2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow:hidden;
}

iframe{
  width: 560;
  height: 315;
  
}
b{
  color:#ffbf3e;
  font-size: 18px;
}
/* a{
  font-size: 18px;
  font-weight: 1000;
  text-shadow: none;
  color:#000000;
  text-decoration: none;

  padding: 5px 15px;
  background-color: #ffbf3e;
  border-top: 3px solid #ffdd66; 
  border-left: 3px solid #ffdd66; 
  border-bottom: 3px solid #a97305;
  border-right: 3px solid #a97305;

  transform: scale(1.0);
}
a:hover{
  color:#000000;
  background-color: #ffc85b;
} */

.custom-link {
  display: inline-block;
  
  padding: 5px 15px;
  background-color: #ffbf3e;
  border-top: 3px solid #ffdd66;
  border-left: 3px solid #ffdd66;
  border-bottom: 3px solid #a97305;
  border-right: 3px solid #a97305;
  transform: scale(1.0);
  transition: transform 0.2s;
}

.custom-link:hover {
  color: #000000;
  background-color: #ffc85b;
  transform: scale(1.05);
  cursor: pointer;
}
.custom-link a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 1000;
  text-shadow: none;
  color: #000000;
}
.borderOrange3px{
  border-top: 3px solid #ffdd66; 
  border-left: 3px solid #ffdd66; 
  border-bottom: 3px solid #a97305;
  border-right: 3px solid #a97305;

  box-shadow: 3px 3px 10px #333333;
}
.borderOrange3pxNS{
  border-top: 3px solid #ffdd66; 
  border-left: 3px solid #ffdd66; 
  border-bottom: 3px solid #a97305;
  border-right: 3px solid #a97305;
}
.borderOrange5px{
  border-top: 5px solid #ffdd66; 
  border-left: 5px solid #ffdd66; 
  border-bottom: 5px solid #a97305;
  border-right: 5px solid #a97305;

  box-shadow: 3px 3px 10px #333333;
}
.borderOrange5pxNS{
  border-top: 5px solid #ffdd66; 
  border-left: 5px solid #ffdd66; 
  border-bottom: 5px solid #a97305;
  border-right: 5px solid #a97305;
}
.borderBlack3px{
  border-top: 3px solid #3b3b3b; 
  border-left: 3px solid #3b3b3b; 
  border-bottom: 3px solid #1f1d19;
  border-right: 3px solid #1f1d19;

  box-shadow: 3px 3px 10px #333333;
}
.borderBlack3pxNS{
  border-top: 3px solid #505050; 
  border-left: 3px solid #505050; 
  border-bottom: 3px solid #1f1d19;
  border-right: 3px solid #1f1d19;
}
.borderBlack5pxNS{
  border-top: 5px solid #505050; 
  border-left: 5px solid #505050; 
  border-bottom: 5px solid #1f1d19;
  border-right: 5px solid #1f1d19;
}
.copy-notice {
  font-family: pixelfont;
  font-size: 20px;
  position: fixed;
  bottom: -50px;
  left: 20px;
  background-color:#ffbf00;
  color: #303030; 
  padding: 5px 15px;
  display: block; 
  z-index: 999;

  transition: bottom 0.5s ease-in-out;
}


.content-repo{
  display: none;
}
/* - - - - - - - - - - - - - - - - - - - - - - Code snippets */
.snippet-container{
  display: block;
  padding: 5px 2px;
  height: fit-content;  
  background-color: #2D2D2D !important;
  border-radius: 10px !important;
  box-shadow: inset 0.5px 0.5px 10px rgb(16, 16, 16) !important;
  margin: 20px 20px;
}
.code-snippet-plugin-container{
  overflow-x: scroll;
}

/* Code SNIPPET STORAGE*/
.snippet-repo{
  display: none;
}
.secret{
  color: black;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.7rem !important;
}
/* ------------------Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient( #ff4e65, #ffbf00); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc582; 
    box-shadow: inset 1px 0px 6px rgba(68, 68, 68, 0.5);
    border-radius: 10px;
    box-shadow: 3px 3px 10px #333333;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e4a629; 
    cursor: pointer;
    transform: scale(1.1);
  }
  ::-moz-selection { /* Code for Firefox */
    color: rgb(237, 237, 237);
    background: #ec9d00;
  }
  
  ::selection { /*text highlight*/
    color: rgb(237, 237, 237);
    background: #000000;
  }
  /*Prevent image highlight*/
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* div{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
} */
