html{
    font-family: 'Pixelify Sans', sans-serif;
    /*font-family: 'Source Code Pro', monospace;*/
}
body{
    background-image: url('../img/P2/aiArt2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow:hidden;
}

/* ------------------Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient( #ff4e65, #ffbf00); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffbf3e; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e4a629; 
  }

  /*Prevent image highlight*/
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}