#game-projects-tab{
    width: 100%;
    height: 100%;
    background-color: #00000000;
}

#game-projects-container{
    grid-area: main;

    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    flex-wrap: wrap;
    display: flex;
    
    background-color: #3c3c3c7f;
}
