@media screen and (max-width: 768px) {
	#modal-box-container {
		width: 90%;
		font-size: 1.3em;
		padding: 20px;
	}

	#tile-projects-container {
		grid-template-areas:
			"L1"
			"R1"
			"R2";

		grid-template-columns: 100%;
		grid-template-rows: 33% 33% 33%;
	}

	#close-modal {
		position: absolute;
		bottom: 2%;
		text-align: center;
	}

	.project-content-container {
		font-size: 16px;
		width: 100% + 80px;

		margin: 40px -20px -40px -20px;
		padding: 20px 20px;
	}

	.project-header img {
		object-fit: cover;
		object-position: center;
		max-width: 120%;
	}

	.project-link-text {
		font-size: 0.5em;
		letter-spacing: 1px;
		padding: 10px;
	}
	.project-link-text i {
		font-size: 12px !important;
	}
	.project-tags img {
		width: 40px;
		height: 40px;

		margin: 2px;
	}
}
