#game-projects-tab {
	width: 100%;
	height: 100%;
	background-color: #00000000;
}
.modal-box-back {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.648);
	top: 0;
	left: 0;
	z-index: 999;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-box-container {
	font-family: "Montserrat", sans-serif;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: rgb(237, 237, 237);
	line-height: 150%;
	z-index: 9999;
	padding: 40px;

	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 80%;
	width: 60%;

	background-image: url("../../img/hazepoint/keyart.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* ------------------------------------------------------ Project Containers ---------------------------------------*/
.projects-list-container {
	justify-content: center;
	justify-items: center;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;

	flex-wrap: wrap;
	display: flex;

	background-color: #1818187f;
}
#game-projects-container {
	grid-area: main;
}
#jam-projects-container {
	grid-area: jam;
}
#side-projects-container {
	grid-area: side;
}
/*-------------------------------------------------------------------------------------------------------------------*/
.project-content-container {
	/* backdrop-filter: blur(6px); */
	background-image: linear-gradient(
		transparent 0%,
		rgba(0, 0, 0, 0.6) calc(0% + 300px),
		rgba(0, 0, 0, 0.6) calc(100% - 300px),
		transparent 100%
	);
	font-size: 16px;
	width: 100% + 80px;

	margin: 0px -40px -40px -40px;
	padding: 150px 40px;
}
.project-header-divider {
	height: 150px;
	display: block;
	width: 100% + 80px;

	margin: 0px -40px 0px -40px;
	backdrop-filter: blur(6px) brightness(60%); /* Apply blur to the background */
	-webkit-mask-image: linear-gradient(transparent, black);
	mask-image: linear-gradient(transparent, black);
}
.project-footer {
	height: 200px;
	width: 100% + 80px;
	margin: 80px -40px -40px -40px;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
#close-modal {
	font-family: "Montserrat", sans-serif;
	position: absolute;
	font-size: 2.5em;
	font-weight: 800;
	color: rgb(201, 201, 201);
	cursor: pointer;
	width: 100%;
	text-align: right;
	padding: 0.5em;
	box-sizing: border-box;
}
#close-modal:hover {
	color: #ffbf00;
}

.project-item {
	position: relative;
	width: 25em;
	height: 20em;
	background-color: #1f1d19;
	margin: 30px;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}
.project-item:hover {
	background-color: #333333;
	transform: translateY(-2px) scale(1.05);
	cursor: pointer;
}
.project-item img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.project-item-text {
	position: absolute;
	width: 100%;
	height: 100%;
	color: rgb(238, 238, 238);
	font-size: 1em;
	font-family: "Source Code Pro", monospace;

	background-color: #1d1d1de2;
	z-index: 5;
	top: 0;
	left: 0;
	padding: 50px 10px;
	box-sizing: border-box;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.project-item-text b {
	width: 100%;
}
.project-item-text p {
	text-align: left;
	width: 100%;
	height: auto;
	padding: 0 20px;
}
.project-thumbnail-tags {
	position: absolute;
	width: 100%;
	height: auto;
	display: flex;
	padding: 20px;
	bottom: 0;
	left: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
#tile-projects-container {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #00000000;

	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		"L1 R1"
		"L1 R2";

	transition: all 0.2s ease-in-out;
}

.tile-item {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;
	transition: all 0.2s;
	overflow: hidden;
	background-color: #000000;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.tile-item:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	/* background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.2) 50%,rgb(0, 0, 0) 100%); */

	position: absolute;
	top: 0;
	left: 0;
}
.tile-item:hover {
	cursor: pointer;
	transform: scale(1.05);
	z-index: 10;
}

#tile-1 {
	grid-area: L1;
	background-image: url("../../img/hazepoint/promotional_art_nologo.png");
	background-position: right;
}
#tile-2 {
	grid-area: R1;
	background-image: url("../../img/jams/djam8/planetary-decay-splash.png");
}
#tile-3 {
	grid-area: R2;
	background-image: url("../../img/side/fumoEngine.png");
	background-size: 50%;
}

.tile-project-text {
	position: absolute;
	width: 100%;
	height: 100%;
	color: #ffdd66;
	font-family: "04b" !important;
	font-size: 3em;

	transition: all 0.3s ease-in-out;
	backdrop-filter: blur(0px);
	z-index: 5;
	top: 0;
	left: 0;
	padding: 50px 10px;
	box-sizing: border-box;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
