#portfolio-body {
	height: 95%;
	width: 90%;
	display: grid;
	grid-template-rows: 40px auto; /* First row smaller, rest auto */
	grid-template-columns: auto auto auto auto;
	grid-template-areas:
		"ext ext tabs tabs"
		"tabC tabC tabC tabC";
}
.portfolio-externals {
	grid-area: ext;
}
.portfolio-tabs {
	justify-content: flex-end;
	display: flex;
	grid-area: tabs;
	padding-right: 25px;
}

.portfolio-tab {
	align-items: center;
	text-align: center;

	border-radius: 3px 3px 0 0;
	font-size: 0.5em;
	padding: 10px 15px;
	background-color: #ffbf3e70;
	cursor: pointer;

	/* clip-path: polygon(0 100%, 100% 100%, 95% 0, 5% 0); file like shape but border wont change so gave up*/
	transition: background-color 0.2s, transform 0.2s;
	box-shadow: 0px 5px 20px 5px #3131317c;

	font-family: "Mai10";
}
.portfolio-tab:hover {
	background-color: #ffbf3e;
	transform: translateY(-2px) scale(1.05);
}
.portfolio-tab.active {
	background-color: #ffbf3e;
	transform: translateY(-4px) scale(1.15);
}

.portfolio-tab-content {
	grid-area: tabC;
	overflow-y: hidden;
	background-color: rgba(37, 37, 37, 0.221);
	border-radius: 0.5em;

	box-shadow: 0px 0px 40px 5px #3131317c;
}

.portfolio-tab-pane {
	display: none;
}

.portfolio-tab-pane.active {
	display: grid;
	height: 100%;
	width: 100%;
}
/* - - - - - - -  - - -  First page*/
#splash-tab {
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;

	text-align: center;
	width: 100%;
	height: 100%;
	padding: 30px;
	box-sizing: border-box;

	background-image: url("../../img/projects/hazepoint/promotional_art_nologo.png");
	background-position: center center;
	background-size: cover;
	background-position: fixed;
}
.splash-tab-inner {
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 32px;
	font-weight: bold;

	text-align: center;
	justify-content: center;
	align-items: center;

	letter-spacing: 5px;
	width: 100%;
	height: fit-content;
	margin-bottom: 0;
}
#raymoo {
	max-width: 15%;
	max-height: 15%;
	width: auto;
	height: auto;
}
#splash-tab span {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	margin: 0;
}

#temp {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	width: 50%;
	letter-spacing: 0.1em;
	margin: 0 25%;
	color: rgb(175, 175, 175);
}
.contact {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
	margin: 5px;
	color: #ffbf3e;
	cursor: pointer;
}
.contact:hover {
	color: #ffdd66;
}
/*  - - - - - - - - - - External links - - - - - - - */
.external-container {
	position: absolute;
	left: 50%; /* Position the div horizontally at the center of its parent */
	transform: translateX(
		-50%
	); /* Move the div back by half of its own width */
	height: fit-content;
	display: inline-block;
	justify-content: center;
	bottom: 0;
	margin-bottom: 20px;
}
.externals {
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 10px;
	border: none !important;
	box-shadow: none !important;
	background-size: contain;
	background-color: #00000000 !important;
	background-repeat: no-repeat;
	transition: transform 0.2s;
}
.externals:hover {
	transform: scale(1.05);
	cursor: pointer;
}

#linkedinICON {
	background-image: url("../../img/tag_logo/linkedin.png");
}
#githubICON {
	background-image: url("../../img/tag_logo/github.png");
}
#itchioICON {
	background-image: url("../../img/tag_logo/itch.png");
}

/* - - - - - - - - - - -Skills specific */
#skills-tab {
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: #000000;
	padding: 0 10px;
}
embed {
	overflow-y: scroll;
	max-width: 800px;
	max-height: 800px;
	width: 800px;
	height: 800px;
	margin: 10px 0;
}
@media screen and (max-width: 768px) {
	#portfolio-body {
		grid-template-rows: 25px auto;
		height: 95%;
		width: 100%;
	}

	#front-tab {
		background-size: cover;
		background-position: top center;
	}

	.portfolio-tab {
		font-size: 6px;
		padding: 5px 2px;
	}
	.portfolio-tab:hover {
		background-color: #ffdd66;
		transform: translateY(-2px) scale(1.02);
	}
	.portfolio-tab.active {
		background-color: #ffdd66;
		transform: translateY(-2px) scale(1.05);
	}

	.portfolio-summary-text {
		max-width: 100%;
	}

	.side-work-item {
		display: block;
	}

	#splash-tab span {
		font-size: 12px;
	}
	.contact {
		font-size: 12px;
	}
	#temp {
		width: 90%;
		margin: 0 5%;
		font-size: 12px;
	}
}
