/***************************** Project title and stuff ********************************/

.project-header {
	width: 100%;
	height: 500px;
	font-size: 2em;

	letter-spacing: 10px;
	color: #ffbf00;

	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}
.project-header img {
	object-fit: cover;
	object-position: center;
	max-width: 70%;
}
.project-header h1 {
	font-size: 40px;
	font-weight: 100;
	font-family: "04b" !important;
	letter-spacing: 5px;

	text-shadow: 0px 0px 10px #1d1d1ddb;
}

.project-header-top {
	position: absolute;
	display: grid;
	top: 0;
	left: 0;
	width: 100%;
	height: 20%;

	grid-template-areas: "Tags Link";
	grid-column: 50% 50%;
	grid-row: 100%;
}
.project-tags {
	grid-area: Tags;
	width: 100%;
	height: auto;
	display: flex;

	justify-content: left;
	align-items: center;
	flex-wrap: wrap;
}
.project-tags img {
	display: block;
	width: 60px;
	height: 60px;

	margin: 5px;
}
.img-invert {
	filter: invert(1);
}
.project-header-bottom {
	position: absolute;
	display: grid;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20%;

	grid-template-areas: "Tags Link";
	grid-column: 50% 50%;
	grid-row: 100%;
}

.project-link {
	grid-area: Link;
	width: 100%;
	height: 100%;

	display: flex;

	justify-content: right;
	align-items: center;
}
.project-link-text {
	font-size: 0.8em;
	letter-spacing: 5px;
	font-family: "04b" !important;
	color: white;
	text-align: right;
	margin-right: 10px;

	background-color: #c91042;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.1s ease-out;
}
.project-link-text:hover {
	background-color: #ffbf00;
	color: black;
	cursor: pointer;
	transform: scale(1.05);
}
.project-vid {
	display: flex;
	justify-content: center;
	width: 100%;
	position: relative;
}

.project-gallery {
	display: flex;
	width: 100%;
	max-height: 400px;
	text-align: left;
	justify-content: left;
	justify-items: left;

	border-radius: 5px;
	padding: 20px;

	box-sizing: border-box; /* NEW */
	background-color: #0000005e;
	color: rgb(221, 221, 221);

	overflow-x: auto;
	overflow-y: hidden;
}
.showcase-img {
	object-fit: contain;
	max-width: 100%;
	max-height: 300px;

	display: inline-block;
	margin: 0 5px;
}

.custom-link-container {
	display: flex;
	width: 100%;
	height: auto;
	justify-content: right;
	align-items: center;

	grid-area: Right;
}
.custom-link-container-test {
	position: absolute;
	display: block;
	width: 100%;
	z-index: 200;
	height: auto;
	justify-content: right;
	align-items: center;

	top: 0;
	left: 0;
}
.custom-link-container a {
	text-decoration: none;
	color: #000000;
	font-size: 1em;
	font-weight: 1000;

	margin: 5px 10px;

	background-color: #ffbf00;
	border-top: 5px solid #ffdd66;
	border-left: 5px solid #ffdd66;
	border-bottom: 5px solid #a97305;
	border-right: 5px solid #a97305;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	padding: 5px 10px;
}
.custom-link-container a:hover {
	background-color: #ffdd66;
	transform: scale(1.05);
}
.code-header-container {
	width: 100%;
	height: auto;

	display: grid;
	grid-template-columns: "50% 50%";
	grid-template-areas: "Left Right";
}
.code-header-container b {
	grid-area: Left;
	width: 100%;

	/*align text horizontally*/
	display: flex;
	align-items: center;
}
